.board {
}

.flagged {
  background-color: yellow;
}

.clean {
  background-color: lightblue;
}

td {
  background-color: lightblue;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: green;
  border-width: 1px
}

img {
  height: 22px;
  width: 22px;
}
