<h3>BOARD</h3>

<!-- <button class="btn btn-default btn-sm" (click)="setBombs()">Set Bombs</button> -->

<div class="board">

  <table>
    <tr *ngFor="let row of gameBoard">
      <td *ngFor="let tile of row" [class]="tile.status" (click)="tileClicked(tile)">
        <p *ngIf="tile.status === 'number'">{{tile.bombScore}}</p>
        <!-- location lables -->
        <!-- {{tile.tCol}}-{{tile.tRow}} -->
      </td>
    </tr>
  </table>

</div>

<!--  right-click -->
<!-- document.addEventListener('contextmenu', function(e) {  // right-click listener
        console.log("right-click happened");
        e.preventDefault();
}); -->


<!-- old single demension array method -->
<!-- <div class="board">
  <table>
    <tr *ngFor="let numY of [0,1,2,3,4,5,6,7,8,9]">
      <td *ngFor="let numX of [0,1,2,3,4,5,6,7,8,9]"
          (click)="tileWasClicked()" ng-class="findTileByXY(numX,numY).status">

        {{gameBoard[numX+(numY*10)].xPos}}-{{gameBoard[numX+(numY*10)].yPos}}
      </td>
    </tr>
  </table>
</div> -->
