
.row {
  background-color: lightgrey;
}

.board {
  text-align: center;
  background-color: lightgrey;
  height: 400px;
  width: 400px;
  outline-color: grey;
  outline-style: solid;
  outline-width: 4px;
}

.divRow {
  display: block;
  height: 40px;
}

.divCol {
  float: left;
  height: 40px;
  width: 40px;
}

#tileID {
  height: 40px;
  width: 40px;
}

#smileDiv {
  padding-left: 40%;
  padding-right: 40%;
  margin-bottom: 10px;
}

.play {
  background-image: url("./../../assets/smile.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.win {
  background-image: url("./../../assets/smilewin.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.lose {
  background-image: url("./../../assets/smilelose.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.unclicked {
  background-image: url("./../../assets/tile.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.clean {
  background-color: lightgrey;
  outline:2px solid grey;
}

.flagged {
  background-image: url("./../../assets/flagged.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url("http://intrologic.stanford.edu/images/mine.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  outline:2px solid grey;
}

.bombRed {
  background-image: url("http://intrologic.stanford.edu/images/mine.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: red;
  outline:2px solid grey;
}

.number {
  background-color: lightgrey;
  color: blue;
  font-size: 24px;
  font-weight: bold;
  outline:2px solid grey;
}




/*images*/
/*bomb:   background-image: url("http://intrologic.stanford.edu/images/mine.png");*/
