<div id="smileDiv">
  <div class="{{gameStatus}}" (click)="smileClicked()">
  </div>
</div>

<div class="board">

    <div class="divRow" *ngFor="let row of gameBoard">
      <div class="divCol" *ngFor="let tile of row">
        <div id="tileID" [class]="tile.status" (click)="tileClicked(tile)"  (contextmenu)="tileRightClicked($event, tile)">
          <p *ngIf="tile.status === 'number'">{{tile.bombScore}}</p>
        </div>
      </div>
    </div>

</div>

<h1 *ngIf="gameStatus !== 'play'">You {{gameStatus}}!!!</h1>
