




<div class="board-top">
  <div class="bombs-remaining">
    {{bombsRemainStr}}
  </div>
  <div class="smile-contain">
    <div class="{{gameStatus}}" (click)="smileClicked()"></div>
  </div>
  <div class="lvl-timer">
    {{playTimeStr}}
  </div>
</div>

<div class="board">
    <div class="divRow" *ngFor="let row of gameBoard">
      <div class="divCol" *ngFor="let tile of row">
        <div id="tileID" [class]="tile.status" (click)="tileClicked(tile)" (contextmenu)="tileRightClicked($event, tile)">
          <div class="tile-txt" *ngIf="tile.status === 'number'">{{tile.bombScore}}</div>
        </div>
      </div>
    </div>
</div>

<h1 *ngIf="gameStatus === 'win' || gameStatus === 'lose'">You {{gameStatus}}!!!</h1>

<div *ngIf="gameStatus === 'win'">
  <div class="{{formShow}}">
    <p class="win_msg">
      Add your name to the list of high scores
    </p>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
      required [(ngModel)]="playerName" name="name">
    </div>
    <button type="button" name="save-btn" (click)="saveHighScore(playerName,playTime); this.hideForm();">Save</button>
  </div>
</div>

<div class="scores-list">
  <h3>Highscores</h3>
  <div *ngIf="highscores !== undefined">
    <div *ngFor="let score of highscores | rank">
      <div class="score-row">
        <p><span>{{score.name}}</span> : <span>{{score.score}}</span></p>
      </div>
    </div>
  </div>
</div>
