

@import url('https://fonts.googleapis.com/css?family=Orbitron|Permanent+Marker');

@font-face {
  font-family: 'clock1';
  src: url('/assets/clock1.ttf') format('truetype');
}
@font-face {
  font-family: 'clock2';
  src: url('/assets/digital7/digital-7.ttf') format('truetype');
}

/*
font-family: 'Permanent Marker', cursive;
font-family: 'Orbitron', sans-serif;
*/

.show {
  display: block;
}
.hide {
  display: none;
}

.board-top {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  /* outline-color: blue;
  outline-style: solid;
  outline-width: 1px; */
}
.lvl-timer, .bombs-remaining {
  width: 136px;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'clock2';
  font-size: 54px;
  color: red;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}
.bombs-remaining {
}
.smile-contain {
  width: 62px; /* simle image = 60px */
  margin-left: 38px;
  margin-top: 4px;
  /* outline-color: blue;
  outline-style: solid;
  outline-width: 1px; */
}
.lvl-timer {
  margin: auto 0px auto auto;
}

.row {
  background-color: white;
}

.board {
  margin-left: 5px;
  height: 400px;
  width: 400px;
  background-color: lightgrey;
  outline-color: grey;
  outline-style: solid;
  outline-width: 4px;
}

.divRow {
  display: block;
  height: 40px;
}

.divCol {
  float: left;
  height: 40px;
  width: 40px;
}

#tileID {
  height: 40px;
  width: 40px;
  /* inset | offset-x | offset-y | color */
  box-shadow: inset 1px 1px grey;
}

.tile-txt {
  margin: 0px 0px 0px 0px;
  padding-top: 7px;
}

.play, .init {
  background-image: url("./../../assets/smile.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.win {
  background-image: url("./../../assets/smilewin.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.lose {
  background-image: url("./../../assets/smilelose.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.unclicked {
  background-image: url("./../../assets/tile.png");
  background-position: center;
  background-size: 98%;
  background-repeat: no-repeat;
}

.clean {
  background-color: lightgrey;
}

.flagged {
  background-image: url("./../../assets/flagged.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url("http://intrologic.stanford.edu/images/mine.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.bombRed {
  background-image: url("http://intrologic.stanford.edu/images/mine.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: red;
}

.number {
  background-color: lightgrey;
  color: blue;
  font-size: 24px;
  font-weight: bold;
}

.scores-list {
  margin-top: 50px;
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
}





/*images*/
/*bomb:   background-image: url("http://intrologic.stanford.edu/images/mine.png");*/
